In [2]:
import pandas as pd

In [ ]:
dist_planets = pd.series([149.6, 1433.5, 227.9, 108.2, 778.6], ['Earth','Saturn', 'Mars','Venus', 'Jupiter'])
dist_planets

In [4]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

In [5]:
planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

In [11]:
distance_planets = pd.Series(data = distance_from_sun, index = planets)
distance_planets

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

In [14]:
time_light = distance_planets /18
time_light

Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

In [15]:
planets = distance_planets /18
planets

Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

In [19]:
close_planets = time_light[time_light < 40] 
close_planets

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64